body {
    font-family: Papyrus;
    text-align: center;
    background-image: url(../images/ks9_background.png);
    background-position: center;
    background-repeat: initial
    }

.jumbotron {
        width: 100%;
    }